
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-top-color: #09f; /* Blue color for the top bordr */
    border-radius: 50%; /* Circular border */
    width: 50px; /* Width of the spinner */
    height: 50px; /* Height of the spinner */
    position: fixed; /* Fixed position */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the spinner to truly center it */
    animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#container {
    display: flex;
}

#feedsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Keep the fixed width of 300px */
    flex: 0 0 400px;
    /* Additional styles for feedsContainer */
}

#graphcontent {
    flex: 1; /* Assign a flex-grow value to control the width */
    /* Additional styles */
}

#maincontent {
    position: relative;
    top: 0;
    right: -30%; /* Start off-screen to the right */
    width: 30%;
    height: 100%;
    transition: right 0.5s ease;
    z-index: 10;
}

.panel_overlay {
    right: 0; /* Bring the overlay panel on-screen */
}

#feedslist {
    list-style: none;
    padding: 0;
}

.article {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.title {
    font-size: 18px;
    margin-bottom: 5px;
}

.text {
    font-size: 14px;
    color: #555;
}

#selectAllButton {
    width: calc(100% - 1px); /* Adjust the width as needed, subtracting any padding */
    margin: 0 auto; /* Auto margins for horizontal centering */
    display: none; /* Use block display */
    /* Other styles for the button */
}

#maincontent .spinner.center-in-maincontent {
    position: absolute;
    top: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
}